<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="images/favicon.ico">
    <title>假日图书馆</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container-fluid">
    <h1>假日图书馆信息管理系统</h1>
    <div class="w3l-login-form">
        <h2>登 录</h2>
        <form id="login_form" action="#" method="post" onsubmit="return false">
            <div class=" w3l-form-group">
                <label>用户名:</label>
                <div class="group">
                    <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                    <input name="userName" type="text" onfocus="clearUserName()" class="form-control" placeholder="用户名" required="required"/>
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>密码:</label>
                <div class="group">
                    <i class="glyphicon glyphicon-lock"></i>
                    <input name="password" type="password" onfocus="clearUserName()" class="form-control" placeholder="密码" required="required"/>
                </div>
            </div>
            <div class="forgot">
                <a href="#">忘记密码？</a>
                <p><input type="checkbox">记住我</p>
            </div>
            <button type="button" onclick="login()">登录</button>
        </form>
        <p class=" w3l-register-p">还没有注册？<a href="#" class="register"> 注册</a></p>
        <div id="login-msg-div" style="visibility: visible"><h4><span id="login-msg"></span></h4></div>
    </div>

    <script src="js/login.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/bootstrap.js"></script>
</div>
</body>
</html>